<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админ панель</title>
</head>
<body>
    <h1>Админ панель</h1>
    <a href="{{ url_for('logout') }}">Выход</a>

    <h2>Список тредов</h2>
    <ul>
        {% for thread in threads %}
            <li>
                <strong>{{ thread.title }}</strong> (Автор: {{ thread.author }})
                <form action="{{ url_for('delete_thread', id=thread.id) }}" method="POST">
                    <button type="submit">Удалить</button>
                </form>
                
                    {% if thread.is_pinned %}
                        Отменить закрепление
                    {% else %}
                        Закрепить
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>Комментарии:</h2>
    {% if comments %}
        <ul>
        {% for comment in comments %}
            <li>
                <!-- Выводим текст комментария -->
                <p><strong>Комментарий:</strong> {{ comment.content }}</p>
    
                <!-- Форма для удаления комментария -->
                <form action="{{ url_for('delete_comment', comment_id=comment.id) }}" method="POST">
                    <button type="submit">Удалить комментарий</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Комментариев нет.</p>
    {% endif %}
    